.project
.cproject
.idea
cmake-build-*
CMakeFiles
Makefile
CMakeCache.txt
*.cmake
*.qm
qrc_*.c*
*.qrc.depends
ts.qrc
.settings
config.h
version.h
stardeps
stardeps-testsuite
moc_*.c*
README
build
core
ve
